@model IEnumerable<Carstock.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

    <a asp-action="Register">Create New</a>

    <a asp-action="Logout" asp-controller="Account">logout</a>

      